{% extends 'layout.html' %}

{% block pageTitle %}
    Get flood warnings
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
      <form action="code" method="post">

            <form method="post">

{% set emailHtml %}
{{ govukInput({
  id: "contactByEmail",
  name: "contactByEmail",
  type: "email",
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    text: "Email address"
  }
}) }}
{% endset -%}

{% set phoneHtml %}
{{ govukInput({
  id: "contactByPhone",
  name: "contactByPhone",
  type: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Phone number"
  }
}) }}
{% endset -%}

{% set textHtml %}
{{ govukInput({
  id: "contactByText",
  name: "contactByText",
  type: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Mobile phone number"
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text: "How do you get flood warnings?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [

    {
      value: "emailSignin",
      text: "Email",
      conditional: {
        html: emailHtml
      }
    },
        {
      value: "phoneSignin",
      text: "Phone",
      conditional: {
        html: phoneHtml
      }
    },
        {
      value: "textSignin",
      text: "Text message",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}
<input type="hidden" name="signin" value="yes">

<button class="govuk-button" data-module="govuk-button">Continue</button>
</br></br>
     <p>Floodline</br>
                Telephone: 0345 988 1188</br>
                24-hour service</br>
                <a href="#">Find out about call charges</a></p>
     
        </div>

</div>

{% endblock %}
