{% extends "layout_unbranded.html" %}

{% set imgpath="/public/images/" %}

{% block page_title %}
  Text message | Confirmation: Get flood warnings
 
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}





        <div class="govuk-grid-column-one-half">
          <div id="email_text">

      </br>
      <p>You now get flood warnings from the Environment Agency for your selected addresses. 
        </br></br>
          Use this phone number to sign in to edit or remove the flood warning addresses you have signed up for on your ‘Check your answers page’:
          </p>
     
       <a href="/{{folder}}/address/list-check">https//:www.get-flood-warnings.gov.uk/vk-ud4u-f63h</a>
      </div><!-- // end #email_text -->

    </div><!-- // end .column 3/4 -->

  </div><!-- // end .grid_row -->

</div><!-- // end #email -->

{% endblock %}
