{% if data.targetAreaResults.hasWarnings or data.targetAreaResults.hasAlertAreas %}

          <p>
          We monitor the area this is within.
          </p>
          <p>We can offer you warnings:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>when flooding to property or a danger to life is expected</li>
            <li>when minor flooding is possible including roads, fields and footpaths that may not be near you but may connect to waterways in this location</li>
          </ul>
</br>
        {% if data.targetAreaResults.hasWarnings %}
          

          
        {% else %}

          
        {% endif %}
        
      {% else %}


        <p>
          We do not monitor this area because it is at low risk of flooding from rivers, the sea or groundwater.
</br></br>
It may still be affected by surface water flooding, which this service does not cover. If you want to know if there’s surface water flooding (also known as ‘flash flooding’) in your area, <a href="https://www.gov.uk/find-local-council">contact your local council</a>.
</p>
<p>You can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk" target="_blank">check the long term flood risk for an area in England</a>, including surface water</li>
          <li>continue to sign up for this area in case it becomes at risk in future</li>
          </ul>


        
{% if data.addressConfirmed %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "continue",
  name: "selection",
  
  items: [
    {
      value: "yes",
      text: "Add this area for future risk"
    },
    {
      value: "no",
      text: "Try another search"
    }
  ]
}) }}

{{ govukButton ({
  html: 'Continue'
}) }}
</br><p>
  <a href="/{{folder}}/address/list?">Go back to summary</a>
</p>
{% else %}
</br>
{{ govukButton ({
  html: 'Continue'
}) }}

</br><p>
  <a href="/{{folder}}/address/postcode">Try another search</a>
</p>
{% endif %}
{% endif %}

{% if data.targetAreaResults.hasWarnings or data.targetAreaResults.hasAlertAreas %}



{{ govukButton ({
  html: 'Continue'
}) }}


{% endif %}