{% extends 'layout.html' %}

{% block pageTitle %}
    Verify your email address
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="email-consent">

                <h1 class="govuk-heading-l">Code re-sent</h1>

                <p>
                    We re-sent a code to {{ data['email-address'] }} for you to confirm your email address.
                </p>


                {{ govukInput ({
                    id: 'email-code',
                    name: 'email-code',
                    value: data['email-code'] if data['email-code'] else '',
                    classes: 'govuk-input--width-10',
                    label: {
                        text: 'Enter the code we have sent you:'
                    }
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}
                {% from "govuk/components/details/macro.njk" import govukDetails %}

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Help with code
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                        It may take a moment for your code to arrive. 
                    </br></br>If you haven’t received your email, please check your spam folder.
                    </br></br>
                    <a href="#">Send code again</a>                    </div>
                  </details>
                
     
                  
                <p>
           
                    
                    <a href="email">Enter a different email address</a>
                </p>
            </br>  </br>  </br>  </br>  </br>
            <p>
           <a href="/{{folder}}/sign-up/email-code"  target="_blank">User testing email code</a>
            </p>
            </form>

        </div>

</div>

{% endblock %}