{% extends 'layout.html' %}

{% block pageTitle %}
    Get flood warnings
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

              <h2 class="govuk-heading-l">Get flood warnings</h2>


                <p>This service only covers England.</p>


                    <p>Find <a href="https://floodline.sepa.org.uk/floodingsignup/">flood warnings for Scotland</a></br>
                    Find <a href="https://naturalresources.wales/splash?orig=%2fflooding%2fsign-up-to-receive-flood-warnings%2f&lang=cy">flood warnings for Wales</a></br>
                    Find <a href="https://www.nidirect.gov.uk/articles/check-risk-flooding-your-area">flood risk information in Northern Ireland</a></p>

        </div>

</div>

{% endblock %}