{% extends "layout_unbranded.html" %}

{% set imgpath="/public/images/" %}

{% block page_title %}
  Gmail | Validation code: Get flood warnings
 
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}


<div id="email">

<div id="gmail_header">
  <img src="{{ imgpath }}gmail_header.png" alt="" />
</div>

<div class="govuk-grid-row">

    <div style="width:15%" class="govuk-grid-column-one-quarter">
        <img style="margin-bottom:600px" src="{{ imgpath }}gmail_menu_left.png" alt="" />
    </div>


    <div class="govuk-grid-column-two-thirds">

      <p class="subject">
        Confirmation code: Get flood warnings  <img class="inboxicon" src="{{ imgpath }}gmail_icon_inbox.png" alt="" />
      </p>
    </div>
      <div class="govuk-grid-column-one-quarter">
        <div id="email_text">
        <img src="{{ imgpath }}gmail_from_text.png" alt="" /> 

      </div>
    </div>

    
    <div class="govuk-grid-column-two-thirds">

      <div id="email_text">

        <div id="banner" class="email-banner"><img src="{{ imgpath }}gov_uk_email_header.png" alt="GOV.UK" /></div>

      </div></div>


        <div class="govuk-grid-column-one-half">
          <div id="email_text">

      </br>
      <p>You are signing up to Get flooding warnings from the Environment Agency for your selected locations. </p>
       <p>Your confirmation code is:</p>
      <h1 class="govuk-heading-m">
          5342
        </h1>

        <p>It expires in 10 minutes. Enter this code to confirm your email address is correct.</p>
      <p>If you did not ask for a code to Get flood warnings, please ignore this email.</p>
      </div><!-- // end #email_text -->

    </div><!-- // end .column 3/4 -->

  </div><!-- // end .grid_row -->

</div><!-- // end #email -->

{% endblock %}
