{% extends "layout_unbranded.html" %}

{% set imgpath="/public/images/" %}

{% block page_title %}
  Text message | Validation code: Get flood warnings
 
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}





        <div class="govuk-grid-column-one-half">
          <div id="email_text">

      </br>
      <p>Get flood warnings: Your confirmation code is: 1635</br></br>
        It expires in 10 minutes. </br></br>Enter this code to continue.</p>

      </div><!-- // end #email_text -->

    </div><!-- // end .column 3/4 -->

  </div><!-- // end .grid_row -->

</div><!-- // end #email -->

{% endblock %}
