
{% extends "layout.html" %}

{% block pageTitle %}
Review your selections
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-0">
                Review your selections
              </h1>
            </legend>

            <h3 class="govuk-heading-m">
              Flood warning areas
            </h3>
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-two-thirds">River Foss upstream of Yearsley Baths to Strensall - riverside properties only
                  </td>
                  <td class="govuk-table__cell"><a href="target-area-example">View</a></td>
                  <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-two-thirds">River Foss upstream of Yearsley Baths
                  </td>
                  <td class="govuk-table__cell"><a href="target-area-example">View</a></td>
                  <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
              </tbody>
            </table>
            <p><a href="search">Add more flood warning areas</a></p>
          </br>
        </br>
        <h3 class="govuk-heading-m">
              Flood alert areas
            </h3>
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-two-thirds">Lower River Derwent
                  </td>
                  <td class="govuk-table__cell"><a href="target-area-example">View</a></td>
                  <td class="govuk-table__cell"><a href="#">Remove</a></td>
                 </tr>
                <tr class="govuk-table__row">                  
                  <td class="govuk-table__cell govuk-!-width-two-thirds">Upper River Ouse
                  </td>
                  <td class="govuk-table__cell"><a href="target-area-example">View</a></td>
                  <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
              </tbody>
            </table>
            <p><a href="alerts">Add more flood alert areas</a></p>

          <a href="#">
          </br>
          </br>
              <button class="govuk-button" data-module="govuk-button">
                Sign up to receive messages
              </button>
            </a>
      </form>
    </div>
  </div>

{% endblock %}
