{% extends "layout.html" %}

{% block pageTitle %}
B1040 Thorney to Whittlesey Road to the South of the River Nene
{% endblock %}

{% set versionxxx = "v3" %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
{# permit|dump #}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <form action="warnings" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                          B1040 Thorney to Whittlesey Road to the South of the River Nene                        </h1>
                    </legend>

                    {# permit|dump #}

                  <p>The lower Lee tributaries, including the Nazeing Brook, Ching Brook, Cobbins Brook, Pymmes Brook, Rags Brook, Salmons Brook, Turkey Brook, Trinity Marsh Ditch and the Small River Lee.</p>

						

            </div>
            <!--
            {% if permit.taStatus=="added" %}
            <button class="govuk-button" name="taStatus" value="removed" data-module="govuk-button">Remove from my flood warnings</button>
            {% else %}
            <button class="govuk-button" name="taStatus" value="added" data-module="govuk-button">Add to my flood warnings</button>
              {% endif %}-->

          </fieldset>
        </div>
          <div class="govuk-grid-column-one-half">

            <img alt="" src="/public/images/exampleta.png" height="410px" width="436.7px">
           
          </div>

        </form>

    </div>

{% endblock %} 
