{% extends "layout.html" %}

{% block pageTitle %}
Select the target area for the alert
{% endblock %}

{% set versionxxx = "v1" %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
{# permit|dump #}

{% set appType = 'area' %}
{% if permit.area=="solentsouthdowns" %}
    {% set appType = 'solentsouthdowns' %}
{% endif %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



          <form action="/{{versionxxx}}/target-area/review-input" method="post">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
              <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#target-area">Target area code is not valid. 
          
                      </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                            Add the target area
                        </h1>
                    </legend>

		
					<fieldset class="govuk-fieldset">
            <label class="govuk-label" for="targetArea">
              Use the area code to find a target area for flood alerts.						
            </label>

          </br>

          <div class="govuk-form-group govuk-form-group--error">
            <span id="targetArea-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Check: 
                      <ul>
                        <li>
                          the target area exists for flood alerts
                        </li>
                        <li>
                          your spelling
                        </li>
                      </ul>
            </span>
          </div>
        </br>

          <input class="govuk-input govuk-input--error" id="target-area" name="target-area" value="{{ data['target-area'] }}" type="text" aria-describedby="targetArea-error">


        </fieldset>
						

					  </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
	                </fieldset>

        </form>
    </div>
</div>

{% endblock %}
