{% extends "layout.html" %}

{% block pageTitle %}
Select the target area for the alert
{% endblock %}

{% set versionxxx = "v1" %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
{# permit|dump #}

{% set appType = 'area' %}
{% if permit.area=="solentsouthdowns" %}
    {% set appType = 'solentsouthdowns' %}
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form action="#" method="post">

                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                            Review target area
                        </h1>
                      
					
					<h3 class="govuk-heading-m govuk-!-margin-bottom-4">
            Target area name
          </h3>
          <p>{{ targetArea.name }}</p>

          <h3 class="govuk-heading-m govuk-!-margin-bottom-4">
            Target area code
          </h3>
          <p>{{ targetArea.code }}</p>

<!--
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View map for target area           
            </span>
          </summary>

          <p>Map goes here</p>

          </details>

          -->
          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button> 

        </form>
    </div>
</div>

{% endblock %}
