<p><div style="width: 85%;"><strong>Flood alert is for minor flooding</strong>
    <ul class="govuk-list govuk-list--bullet">
        <li>shallow flooding of roads and footpaths </li>
        <li>low impact areas such as fields or farmland</li>
    </ul>
<span style="width: 30%;height:10%; position: absolute;right: 15%;top: 420px;"><img alt="" src="/public/images/alert1.jpg" height="98.5px" width="86.5px"/></span></br>
    
<strong>Flood warning is for flooding</strong></br>
<ul class="govuk-list govuk-list--bullet">
    <li>properties are expected to flood</li>
    <li>higher impact areas such as major roads or infrastructure</li>
</ul>
<span style="width: 30%;height:10%; position: absolute;right: 15%;top: 550px;"><img alt="" src="/public/images/warning1.jpg" height="98.5px" width="86.5px"/></span>
</br>
<strong>Severe flood warning is for severe flooding</strong></br>

<ul class="govuk-list govuk-list--bullet">
    <li>there is a risk to life or significant disruption for people</li>
    <li>flood waters may be deep or fast flowing</li> 
    <li>evacuations may be required</li> 
    <li>emergency services and local authorities will be heavily involved</li>
</ul>
<span style="width: 30%;height:10%; position: absolute;right: 15%;top: 700px;"><img alt="" src="/public/images/severe1.jpg" height="98.5px" width="86.5px"/></span></p>