<strong>Flood alert is for minor flooding</strong>
<ul class="govuk-list govuk-list--bullet">
    <li>shallow flooding of roads and footpaths </li>
    <li>low impact areas such as fields or farmland</li>
</ul></br>
<strong>Flood warning is for flooding</strong></br>
<ul class="govuk-list govuk-list--bullet">
    <li>properties are expected to flood</li>
    <li>higher impact areas such as major roads or infrastructure</li>
</ul></br>
<strong>Severe flood warning is for severe flooding</strong></br>
<ul class="govuk-list govuk-list--bullet">
    <li>there is a risk to life or significant disruption for people</li>
    <li>flood waters may be deep or fast flowing</li> 
    <li>evacuations may be required</li> 
    <li>emergency services and local authorities will be heavily involved</li>
</ul></p>