<script>
    const countries = [
    "Abu Dhabi",
              "Aldingbourne and Barnham Rifes 065WAF415",
              "Bartley Water 065WAF114",
              "Beaulieu estuary 065WAC152",
              "Beaulieu River 065WAF141",
              "Black Ditch 065WAF425",
              "Bosham Stream 065WAF412",
              "Bourne Rivulet 065WAF101",
              "Bridge Road, Emsworth 065WAF410",
              "Climping Seafront 065WAC404",
              "Coastal areas of Bexhill seafront 065WAC419",
              "Coastal areas of Brighton Marina 065WAC410",
              "Coastal areas of Bulverhythe 065WAC420",
              "Coastal areas of Eastbourne seafront 065WAC415",
              "Coastal areas of Hastings seafront 065WAC421",
              "Coastal areas of Medmerry 065WAC402",
              "Coastal areas of Pevensey seafront 065WAC417",
              "Coastal areas of Rustington to Shoreham 065WAC407",
              "Coastal areas of Seaford seafront 065WAC412",
              "Combe Haven 065WAF453",
              "Cuckmere River 065WAF451",
              "Danes Stream 065WAF142",
              "Eastern Yar 065WAF212",
              "Fareham to Portchester 065WAC160",
              "Ferring Rife 065WAF431",
              "Gurnard Luck 065WAF214",
              "Hayling Island 065WAC155",
              "Hermitage Stream 065WAF131",
              "Hillhead to Gosport 065WAC156",
              "Hollington Stream 065WAF454",
              "Inland areas of Eastbourne 065WAC416",
              "Inland areas of Seaford 065WAC413",
              "Inland areas of Shoreham, Lancing and Southwick 065WAC409",
              "Inland areas of the Pevensey Levels 065WAC418",
              "Isle of Wight coast 065WAC220",
              "Langney Haven 065WAF452",
              "Langstone to Emsworth Harbour 065WAC162",
              "Lavant Stream at Havant 065WAF135",
              "Lower Adur 065WAF434",
              "Lower Arun 065WAF424",
              "Lower Itchen 065WAF122",
              "Lower Meon 065WAF136",
              "Lower Ouse 065WAF443",
              "Lower River Ems 065WAF411",
              "Lower Test 065WAF111",
              "Loxwood Stream 065WAF422",
              "Lukely Brook 065WAF211",
              "Lymington River 065WAF140",
              "Mansbridge and Riverside Park 065WAF124",
              "Mead End Stream, Denmead 065WAF129",
              "Middle Test 065WAF104",
              "Milford on Sea to Lymington 065WAC150",
              "Monks Brook 065WAF123",
              "Overton to Whitchurch 065WAF108",
              "Pillhill Brook 065WAF103",
              "Port Solent to Brockhampton 065WAC161",
              "Portsmouth 065WAC158",
              "River Adur East Branch 065WAF433",
              "River Adur West Branch 065WAF432",
              "River Alver 065WAF134",
              "River Anton 065WAF102",
              "River Blackwater 065WAF113",
              "River Dever 065WAF107",
              "River Dun 065WAF106",
              "River Hamble 065WAF132",
              "River Lavant 065WAF413",
              "River Medina 065WAF210",
              "River Uck 065WAF442",
              "River Wallington 065WAF130",
              "Romsey Tadburn Lake 065WAF112",
              "Scrase Bridge and West Common Streams 065WAF440",
              "Selsey Bill to Elmer 065WAC403",
              "Simeon Street Rec Ground, Ryde 065WAF216",
              "Sombourne Stream 065WAF109",
              "Southampton Water and Hamble 065WAC151",
              "St Johns, Ryde 065WAF213",
              "Stanbridge Stream Petersfield 065WAF420",
              "Tanners Brook 065WAF115",
              "The Wallops 065WAF105",
              "Thorney Island to Bracklesham 065WAC401",
              "Tidal areas of Littlehampton East Bank 065WAC406",
              "Tidal areas of Littlehampton Rope Walk 065WAC405",
              "Tidal areas of Newhaven 065WAC411",
              "Tidal areas of River Road Arundel 065WAF426",
              "Tidal areas of Shoreham Harbour 065WAC408",
              "Tidal Cuckmere 065WAC414",
              "Tilmore Brook Petersfield 065WAF419",
              "Upper Arun 065WAF423",
              "Upper Itchen 065WAF120",
              "Upper Meon 065WAF133",
              "Upper Ouse 065WAF441",
              "Upper River Ems Valley 065WAF414",
              "Upper Test 065WAF100",
              "Western Rother 065WAF421",
              "Western Yar 065WAF215",
              "Winchester Itchen 065WAF121",
              "Winterbourne Stream 065WAF444",
  "Unknown"
    ];
  
    accessibleAutocomplete({
      autoselect: true,
      element: document.querySelector('#target-area-container'),
      id: 'target-area',
      name: 'targetareaautocomplete',
      source: countries,
     // defaultValue: '{{ data['targetareaautocomplete'] }}',
     defaultValue: '',
      displayMenu: 'overlay',
      templates: '{ inputValue, suggestion }',
      minLength: 2,
      tNoResults: function() {
        return "Target area not found"
      }
    });
  </script>