<script>
    const countries = [
    "Abu Dhabi",  
                            
              "Ampney Brook from Barnsley Wood to Sheeppen Bridge 061WAF04AmpneyBk",
              "Bear Brook and tributaries in the Aylesbury area, including Wendover and Weston Turville 061WAF19BearBrk",
              "Chertsey Bourne 061WAF29Chertsey",
              "Clanfield Brook for Clanfield Village and the Shill Brook for Bampton 061WAF23ThmsTrbs",
              "Cranleigh Waters 061WAF30Cranlgh",
              "Cut 061WAF26Cut",
              "Emm Brook 061WAF24EmmBrook",
              "Ginge Brook 061WAF23Ginge",
              "Hoe Stream 061WAF30Hoestrm",
              "Langford and Wendlebury Brooks from Stratton Audley down to near Merton 061WAF14LfdWenBk",
              "Lower River Loddon 061WAF24LLoddon",
              "Lower River Loddon at the River Thames confluence at Twyford 061WAF24Twyford",
              "Lower River Wey 061WAF30LowerWey",
              "River Blackwater and The Cove Brook 061WAF24BlkWater",
              "River Cherwell from Charwelton to just above Upper Heyford 061WAF14UChrwell",
              "River Cherwell from Lower Heyford down to and including Oxford 061WAF14LChrwell",
              "River Churn and its tributaries 061WAF02Churn",
              "River Cole and Dorcan Brook 061WAF07Cole",
              "River Coln and its tributaries 061WAF06Coln",
              "River Dikler from Condicote to Little Rissington 061WAF10Dikler",
              "River Enborne and Foudry Brook 061WAF22EnbnFdry",
              "River Evenlode from Moreton in Marsh to Cassington and also the River Glyme at Wootton and Woodstock 061WAF12Evenlode",
              "River Kennet and its tributaries from Berwick Bassett down to Newbury 061WAF22UpperKen",
              "River Kennet from Thatcham down to Reading 061WAF22LowerKen",
              "River Lambourn and its tributaries from Upper Lambourn down to Newbury 061WAF22Lambourn",
              "River Leach from Northleach to Mill Lane near Lechlade 061WAF08Leach",
              "River Ock from Watchfield to Abingdon, and also the Letcombe Brook at Wantage, Grove and East Hanney 061WAF17Ock",
              "River Pang from East Ilsley to Pangbourne and Sulham Brook 061WAF21PangSulm",
              "River Ray and its tributaries from Shipton Lee to and including Islip 061WAF14RayOxon",
              "River Ray and Swinbourne for West Swindon area to above Water Eaton 061WAF03RayWilts",
              "River Stert in Abingdon 061WAF23Stert",
              "River Thame and Chalgrove Brook 061WAF19Thame",
              "River Thames and its small tributaries from Calcutt to Lechlade 061WAF23CalcLech",
              "River Thames and its tributaries from Days Lock to above Pangbourne 061WAF23WallGor",
              "River Thames and tributaries from Buscot Wick down to Kings Lock 061WAF23BsctKngs",
              "River Thames and tributaries in the Oxford area 061WAF23Oxford",
              "River Thames at Thames Ditton Island 061WAB23DitIslnd",
              "River Thames at Trowlock Island 061WAB23Trowlock",
              "River Thames for Henley, Remenham, Medmenham and its tributaries 061WAF23HenMed",
              "River Thames for Shiplake, Lower Shiplake and Wargrave 061WAF23ShipWar",
              "River Thames for the Abingdon area 061WAF23Abingdon",
              "River Thames from Datchet to Shepperton Green 061WAF23Datchet",
              "River Thames from Ewen down to and including Cricklade 061WAF23EwnCrkld",
              "River Thames from Hampton and Thames Ditton to Teddington 061WAF23Hampton",
              "River Thames from Hurley to Cookham 061WAF23Hurley",
              "River Thames from Maidenhead to Windsor and Eton 061WAF23Mdnhead",
              "River Thames from Mapledurham to Sonning 061WAF23RdngSonn",
              "River Thames from Pangbourne to Purley 061WAF23PrlyPang",
              "River Thames from Shepperton to Molesey 061WAF23Shepprtn",
              "River Whitewater and River Hart 061WAF24WhtWater",
              "River Windrush from Bourton to Newbridge 061WAF10Windrush",
              "River Wye and The Hughenden Stream 061WAF25Wye",
              "Slough Watercourses 061WAF23Slough",
              "Sor Brook and The Bloxham Brook and their tributaries 061WAF14SorBlox",
              "Tillingbourne 061WAF30Tilling",
              "Tributaries on the Upper River Thames above Cricklade 061WAF23UpThTrbs",
              "Upper River Loddon 061WAF24ULoddon",
              "Upper River Wey 061WAF30UpperWey",
              "Windle Brook and Hale, Mill and Addlestone Bournes 061WAF29Addstne",

    "Unknown"
    ];
  
    accessibleAutocomplete({
      autoselect: true,
      element: document.querySelector('#target-area-container'),
      id: 'target-area',
      name: 'targetareaautocomplete',
      source: countries,
     // defaultValue: '{{ data['targetareaautocomplete'] }}',
     defaultValue: '',
      displayMenu: 'overlay',
      templates: '{ inputValue, suggestion }',
      minLength: 2,
      tNoResults: function() {
        return "Target area not found"
      }
    });
  </script>