{% extends 'layout.html' %}

{% set area = data.allFetchedAreas[data['selected-area']] %}

{% block pageTitle %}
    {{ area.label }}
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">{{ area.label }}</h1>

            <p>
                {{ area.description }}
            </p>

        </div>

</div>

<div class="govuk-grid-row govuk-!-margin-bottom-7">

        <div class="govuk-grid-column-two-thirds map-container">

            <style>
                .mapboxgl-popup {
                    max-width: 400px;
                    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
                }
                .mapboxgl-popup-content p {
                    font-size: 14px !important;
                }
            </style>

            <div id="map" class="app-preview-map"></div>

        </div>

</div>


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {{ govukButton ({
                html: 'Go back',
                href: 'list'
            }) }}

            <p>
                <a href="area-remove?selected-area={{ data['selected-area'] }}" class="app-link-destructive">Remove and do not subscribe to warnings for this area</a>
            </p>

        </div>

</div>

{% endblock %}

{% block pageScripts %}

  <script>
 
    mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRkb3R0byIsImEiOiJjaW54cDQ5ejUwMHFsdnhtMjh1M2NwYWIwIn0.hUo15CVfYcWgHWkRIQomiQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/daviddotto/cknao6u0w1y4g17pmjwq8llcv',
        center: {lon: {{ area.long }}, lat: {{ area.lat }}},
        zoom: {{ '12' if area | isWarningArea else '9' }},
        attributionControl: false
    });
    map.on('load', function () {
        map.resize();
        map.addControl(new mapboxgl.NavigationControl({
            showCompass: false
        }), 'top-left');
        map.addControl(new mapboxgl.FullscreenControl(), 'top-right'); 
        map.addSource('{{ area.notation }}', {
            type: 'geojson',
            data: '{{ area.polygon | secure }}'
        });
        map.addLayer({
            'id': '{{ area.notation }}-warning-fill',
            'type': 'fill',
            'source': '{{ area.notation }}',
            'layout': {},
            'paint': {
                'fill-color': '{{ '#d4351c' if area | isWarningArea else '#f47738' }}', 
                'fill-opacity': 0.2
            }
        });
        map.addLayer({
            'id': '{{ area.notation }}-warning-outline',
            'type': 'line',
            'source': '{{ area.notation }}',
            'layout': {},
            'paint': {
                'line-color': '{{ '#d4351c' if area | isWarningArea else '#f47738' }}',
                'line-width': 2
            }
        });
    });

    var details = document.querySelector('details')

    details.addEventListener("toggle", event => {
        map.resize()
    });

  </script>

{% endblock %}