{% extends 'layout.html' %}

{% block pageTitle %}
    List
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">


                {% set alertAreaIds = data.subscribedAreas | alertAreaIds %}

                {% set warningAreaIds = data.subscribedAreas | warningAreaIds %}

                {% if warningAreaIds | length or alertAreaIds | length %}

                    {% if warningAreaIds | length %}

                        <div class="govuk-!-margin-bottom-9">
<h1 class="govuk-heading-xl">Review your flood risk areas</h1>
                        <h2 class="govuk-heading-m">High risk flood areas</h2>

                            {% for subscribedAreaId in warningAreaIds%}

                                {% set area = data.allFetchedAreas[subscribedAreaId] %}

                                <h3 class="govuk-heading-s">{{ area.label }}</h3>
                                <p>{{ area.description }}</p>

                                <p>
                                    <a href="area-view?selected-area={{ subscribedAreaId }}">View</a>
                                    <a href="area-remove?selected-area={{ subscribedAreaId }}" class="app-link-destructive govuk-!-margin-left-2">Remove</a>
                                </p>

                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                            {% endfor %}

                        </div>

                    {% endif %}

                    {% if alertAreaIds | length %}

                        <div class="govuk-!-margin-bottom-9">

                            <h2 class="govuk-heading-m">Medium risk flood areas</h2>

                            {% for subscribedAreaId in alertAreaIds%}

                                {% set area = data.allFetchedAreas[subscribedAreaId] %}

                                <h3 class="govuk-heading-s">{{ area.label }}</h3>
                                <p>{{ area.description }}</p>

                                <p>
                                    <a href="area-view?selected-area={{ subscribedAreaId }}">View</a>
                                    <a href="area-remove?selected-area={{ subscribedAreaId }}" class="app-link-destructive govuk-!-margin-left-2">Remove</a>
                                </p>

                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                            {% endfor %}

                        </div>

                    {% endif %}

                    <p>
                        <a href="postcode">Add more areas near a different postcode</a>
                    </p>
                               {% if data.contact=="textSignin" or data.contact=="emailSignin" or data.contact=="phoneSignin" or data.contactSignup=="email" or data.contactSignup=="text" or data.contactSignup=="phone"%}

                     {{ govukButton ({
                        html: 'Sign out',
                        href: '/'
                      }) }}
{% if data.contact=="emailSignin" or data.contact=="phoneSignin" or data.contact=="textSignin" %}
 {% else %}

  {% endif %}
                {% else %}

                    {{ govukButton ({
                        html: 'Sign up to get warnings',
                        href: '/sign-up/contact'
                    }) }}



                    {% endif %}

                {% else %}

                    <p>You have not chosen any flood risk areas to get warnings for.</p>

                    <p>
                        <a class="govuk-button" href="postcode">Try another postcode</a>
                    </p>

                    <p> 
                    <a href="#">Check for flooding</a> in your area.
                    </p>
                
                {% endif %}
            </form>
              
        </div>

</div>

{% endblock %}
