{% extends 'layout.html' %}

{% block pageTitle %}
    Get flood alerts
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Get flood alerts</h1>

            <p>Use this free service to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>receive flood alerts by text message, email or automated telephone message</li>
                <li>edit or remove contact information you have already registered</li>
            </ul>

            <p>We will tell you when a flood will happen in a flood risk area in England.</p>

            <p>You will get updates about changes to the flood situation. This might be information about higher water levels, or if an earlier start to the flood is expected.</p>

            <p>We expect this will take you about 10 minutes to complete.</p>

            {{ govukButton ({
                html: 'Start',
                href: 'postcode',
                isStartButton: true
            }) }}

            <p>If you are looking for a place outside England visit:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li><a href="#">Scottish Environment Protection agency</a></li>
                <li><a href="#">Northern Ireland Direct</a></li>
                <li><a href="#">Natural Resources Wales</a></li>
            </ul>

        </div>

</div>

{% endblock %}