{% extends 'layout.html' %}

{% block pageTitle %}
    Which flood warnings do you need?
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

{% set destinationURL = '/'+folder+'/subscribe/email' if data.fromCheck != 'true' else '/'+folder+'/subscribe/check'  %}


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
           
           <form action="{{ destinationURL }}">

                <h1 class="govuk-heading-l">    
                    Flood warning locations
                </h1>
                {#permit|dump#}

                <dl class="govuk-summary-list">
  
                    {% set addressCount = 0 %}

                    {% for id, uprn in data.savedAddresses %}

                        {% if uprn | length %}

                            {% set addressCount = addressCount + 1 %}

                            {% set address = data | addressFromID(id) %}

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__value">
                                    {{ address | formattedAddress }}
                                </dt>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="list?savedAddresses[{{ id }}]=&selected-address=">
                                        Remove<span class="govuk-visually-hidden"> address</span>
                                    </a>
                                </dd>
                            </div>

                        {% endif %}

                    {% endfor %}

                </dl>

                <p>

                    <a href="postcode?selected-address=&addressLookupPostcode=&address-lookup-name-number=">Add another location</a>
                </p>

                {% if addressCount == 0 %}
                    
                    {{ 'postcode' | redirect | safe }}
                    
                {% endif %}

                <hr class="govuk-section-break govuk-section-break--xl">


                {% set hintHTMLwarnings %}
                <span class="govuk-hint">
                    Flooding to property or a danger to life is expected in this location.</br></br>
                  
                    {% if data.targetAreaResults.hasWarnings %}
                    We have sent 3 warnings for these location over the last year.
                    {% endif %}
                </span>
                {% endset %}

                {% set hintHTMLalerts %}
                <span class="govuk-hint">
                These may be shallow flooding of roads, fields and footpaths that may not be near me but may connect to waterways in this location.</br></br>
              
                {% if data.targetAreaResults.hasAlertAreas %}
                We have sent 8 warnings for these location across all warning types over the last year.
                {% endif %}    
            </span>
                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'warningsType',
                    name: 'warningsType',
                    fieldset: {
                        legend: {
                            text: 'Which flood warnings do you need?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--m'
                        }
                    },
                    items: [
                        {
                            text: 'Warnings and severe warnings',
                            value: 'Warnings and severe warnings',
                            hint: {
                                html: hintHTMLwarnings
                            },
                            checked: true if data['warningsType'] == 'Warnings and severe warnings'
                        },
                        {
                            text: 'All flood warnings including minor warnings',
                            value: 'All flood warnings including minor warnings',
                            hint: {
                                html: hintHTMLalerts
                            },
                            checked: true if data['warningsType'] == 'All flood warnings including minor warnings'
                        }
                    ]
                }) }}






                {{ govukButton ({
                    html: 'Continue'
                }) }}


            </form>

        </div>

</div>

{% endblock %}