{% extends "layout.html" %}

{% set title = "Flood monitoring" %}

{% set selectedAddressID = data['selected-address'] | uuid %}
{% set selectedAddress = data | addressFromID(selectedAddressID) %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
{#permit|dump#}
{% if not selectedAddress %}
    
    {{ 'address-confirm' | redirect | safe }}
    
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.addressConfirmed %}
    {% if data.targetAreaResults.hasWarnings or data.targetAreaResults.hasAlertAreas %}
    <form action="list">
      {% else %}

    <form action="{{formAction}}" method="post">
      {% endif %}

    {% else %}
    <form action="list">
    {% endif %}

 

      {% if data.targetAreaResults.hasWarnings or data.targetAreaResults.hasAlertAreas %}

          <h1 class="govuk-heading-l">
            Flood warnings near: <br> {{ selectedAddress.DISPLAY_NAME }}
          </h1>

          <p>
            The address you searched is covered by our forecasting.
          </p>
        
        {% if data.targetAreaResults.hasWarnings %}
          
          <p>
            We can offer you warnings when flooding to property or a danger to life is expected in this area.
          </p>
          
        {% else %}

          <p>
            We can offer you warnings when minor flooding is possible, including fields and footpaths that may not be near you but but may connect to waterways in the area.
          </p>
          
        {% endif %}
        
      {% else %}

        <h1 class="govuk-heading-l">
          No current flood monitoring at: <br> {{ selectedAddress.DISPLAY_NAME }}
        </h1>

        <p>
          The address you searched is not covered by our forecasting because it is:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>at low risk of flooding from rivers, the sea or groundwater</li>
          <li>affected by surface water flooding, which this service does not cover</li>
        </ul>


        
{% if data.addressConfirmed %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "continue",
  name: "selection",
  
  items: [
    {
      value: "yes",
      text: "Continue with this address in case it becomes at risk in future"
    },
    {
      value: "no",
      text: "Try another postcode instead"
    }
  ]
}) }}

{{ govukButton ({
  html: 'Continue'
}) }}
</br><p>
  <a href="/{{folder}}/address/list?">Go back to selection</a>
</p>
{% else %}
<p>
  Continue to sign up for this address in case it becomes at risk in future.
</p>
{{ govukButton ({
  html: 'Continue'
}) }}

</br><p>
  <a href="/{{folder}}/address/postcode">Try another postcode</a>
</p>
{% endif %}
{% endif %}

{% if data.targetAreaResults.hasWarnings or data.targetAreaResults.hasAlertAreas %}



{{ govukButton ({
  html: 'Continue'
}) }}


{% endif %}

<input type="hidden" name="addressConfirmed" value="yes">




    </form>


  </div>
</div>

{% endblock %}
