{% extends "layout.html" %}

{% set title = "Confirm address:" %}


{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
    {{ super() }}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{backlink|safe}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{## permit|dump #}
  <form action="address-risk">

                {% if data.addressResults | length == 1 %}
                    
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            {{title}}
        </legend>  
                    {{ govukInsetText ({
                        text: data.addressResults[0].DISPLAY_NAME | titleCase
               
                    }) }} 

                    {{ govukRadios ({
                        idPrefix: 'address-selection',
                        name: 'address-selection',
                        fieldset: {
                            legend: {
                                text: 'Is this correct?',
                                isPageHeading: true,
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: [
                            {
                                text: 'Yes',
                                value: data.addressResults[0] | formattedAddress
                            },
                            {
                                text: 'No, try again',
                                value: ''
                            }
                        ]
                    }) }}
                    <p><a href="postcode">Search for another postcode</a></p>

   {{ govukButton ({
                    html: 'Continue'
                }) }}  

                {% elseif data.addressResults | length > 0 %}

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            Select an address

        </legend>
                <p>Select the full address of the location you are interested in. We will see if it is in an area we check for flooding.</p>
<p>
<span class="postcode-prefix">Postcode: {{data.addressResults[0].POSTCODE}}</span>
  <span class="postcode"></span>
  <a href="postcode">
      Change<span class="govuk-visually-hidden"> postcode</span>
  </a>
</p>
</br>
                    <ul class="govuk-list">
                         {% for address in data.addressResults %}

                            <li>
<hr class="govuk-section-break govuk-section-break--visible">

                                <a class="app-address-link" href="end?address-selection={{address | formattedAddress}}">

                                  {{address.DISPLAY_NAME}}
                                </a>

                            </li>

                         {% endfor %}
                    </ul>

                {% else %}

                    {{ 'lookup' | redirect | safe }}

                   
                {% endif %}

            
           

            </form>

        </div>

</div>

{% endblock %}