
{% extends "layout.html" %}

{% block pageTitle %}
  Get flood warnings prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select severity level
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="alert" name="severity" type="radio" value="alert" aria-describedby="alert-2-item-hint">

              <label class="govuk-label govuk-radios__label" style="font-weight: 700" for="alert">
                Flood alert </label>
              <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint" style="width:75%">
                Issued for low impact flooding. This could be shallow flooding of roads and footpaths, or flooding of areas with little to no impact on people - such as fields or farmland.
              </div>
            <span>                <img alt="" src="/public/images/alert1.jpg" height="98.5px" width="86.5px" style="position: absolute;right: 0px;top: 15%;"/>
            </span></div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="warning" name="severity" type="radio" value="warning" aria-describedby="warning-item-hint">
              <label class="govuk-label govuk-radios__label" style="font-weight: 700" for="warning">
                Flood warning 
              </label>
              <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint" style="width:75%">
                Issued when flooding of properties is expected, or when the flooding will impact people, such as flooding of major roads or infrastructure.              </div>            
            
            <span>                <img alt="" src="/public/images/warning1.jpg" height="98.5px" width="86.5px" style="position: absolute;right: 0px;top: 15%;"/>
            </span></div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="severe" name="severity" type="radio" value="severe" aria-describedby="severe-item-hint">
              <label class="govuk-label govuk-radios__label" style="font-weight: 700" for="severe">
                Severe flood warning
              </label>
              <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint" style="width:75%">
                Issued for severe flooding, when there is a risk to life or significant disruption for people in that area. Flood waters may be deep or fast flowing. Evacuations may be required and emergency services and local authorities will be heavily involved.
              </div>
              <span>                <img alt="" src="/public/images/severe1.jpg" height="98.5px" width="86.5px" style="position: absolute;right: 0px;top: 15%;"/>
              </span>
          </div>
          
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      
    </div>
  </div>

{% endblock %}
