{% extends "layout.html" %}

{% set title = "Search for a location" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="address-confirm" method="post">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            {{title}}
        </legend>
        <p>Select the full address of the location you are interested in. We will see if it is in an area we check for flooding.
        </p>
<p>
  <span class="postcode-prefix">Postcode:</span>
  <span class="postcode">BS1 5AH</span>
  <a href="postcode">
      Change<span class="govuk-visually-hidden"> postcode</span>
  </a>
</p>


<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

 
          <!-- Address -->
 
            <label class="govuk-label" for="the_address">Address</label>
            <select class="govuk-select form-control form-control-char-auto" id="the_address" aria-describedby="manual_hint" name="individualAddress">
              <option value="">15 addresses found</option>
              <option value="3, GRANGE ROAD, BRISTOL">3, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="5, GRANGE ROAD, BRISTOL">5, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="7, GRANGE ROAD, BRISTOL">7, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="9a, GRANGE ROAD, BRISTOL">9a, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="9b, GRANGE ROAD, BRISTOL">9b, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="10, GRANGE ROAD, BRISTOL">10, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="11, GRANGE ROAD, BRISTOL">11, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="12, GRANGE ROAD, BRISTOL">12, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="13, GRANGE ROAD, BRISTOL">13, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="15, GRANGE ROAD, BRISTOL">15, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="17, GRANGE ROAD, BRISTOL">17, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="Flat 1, 19, GRANGE ROAD, BRISTOL">Flat 1, 19, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="Flat 2, 19, GRANGE ROAD, BRISTOL">Flat 2, 19, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="21, GRANGE ROAD, BRISTOL">21, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="22, GRANGE ROAD, BRISTOL">22, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="19, GRANGE ROAD, BRISTOL">19, GRANGE ROAD, BRISTOL, BS1 5AH</option>
            </select>
          </div>

          <p class="label_link" id="manual_hint"><a href="#">

  Choose on a map          </p>

        </fieldset>


        <div class="form-group">
          {{submitButton|safe}}
        </div>

      </form>


    </div>
  </div>

{% endblock %}
