{% extends 'layout.html' %}

{% block pageTitle %}
    Which flood warnings do you need?
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

{% set destinationURL = '/'+folder+'/subscribe/email' if data.fromCheck != 'true' else '/'+folder+'/subscribe/check'  %}


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
           
           <form action="{{ destinationURL }}">

         
                <h1 class="govuk-heading-l">    
                    Flood locations
                </h1>
                <h3 class="govuk-heading-s">    
                    Warnings, severe flood warnings, and minor warnings 
                </h3>
          
                
               
                {#permit|dump#}

                <dl class="govuk-summary-list">
  
                    {% set addressCount = 0 %}

                    {% for id, uprn in data.savedAddresses %}

                        {% if uprn | length %}

                            {% set addressCount = addressCount + 1 %}

                            {% set address = data | addressFromID(id) %}

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__value">
                                    {{ address | formattedAddress }}
                                </dt>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="list?savedAddresses[{{ id }}]=&selected-address=">
                                        Remove<span class="govuk-visually-hidden"> address</span>
                                    </a>
                                </dd>
                            </div>

                        {% endif %}

                    {% endfor %}

                </dl>

                <p>

                    <a href="postcode?selected-address=&addressLookupPostcode=&address-lookup-name-number=">Add another location</a>
                </p>

                {% if addressCount == 0 %}
                    
                    {{ 'postcode' | redirect | safe }}
                    
                {% endif %}

               


            </br>
            </br>


                {{ govukButton ({
                    html: 'Continue'
                }) }}


            </form>

        </div>

</div>

{% endblock %}