{% extends "layout.html" %}

{% set title = "Would you like to be told when a flood warning is no longer in force?" %}

{% set selectedAddressID = data['selected-address'] | uuid %}
{% set selectedAddress = data | addressFromID(selectedAddressID) %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
{#permit|dump#}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <form action="../subscribe/email">

    <h1 class="govuk-heading-l">
      Would you like to be told when a flood warning is no longer in force?
    </h1>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "noLongerInForce",
  name: "noLongerInForce",
  
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukButton ({
  html: 'Continue'
}) }}








    </form>


  </div>
</div>

{% endblock %}
