{% extends "layout.html" %}

{% set title = "Search for a location" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ backlink | safe }}

{% endblock %}

{% block content %}

{% if data.lookupError %}

    {% set errorMessage = 'There was a problem' %}

    {% if data.lookupError == 'not-found' %}

        {% set errorMessage = 'No addresses were found at this postcode' %}

    {% endif %}

    {% if data.lookupError == 'invalid' %}

        {% set errorMessage = 'Enter a real postcode' %}

    {% endif %}

{% endif %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

 {% if data.lookupError %}
                
                {{ govukErrorSummary({
                    titleText: 'There is a problem',
                    errorList: [
                        {
                        text: errorMessage,
                        href: '#address-lookup-postcode'
                        }
                    ]
                }) }}
                
            {% endif %}

      <form action="/address-lookup/search" method="post">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                {{title}}
            </legend>
        <p>Enter a full postcode. We will check to see if we monitor the area the address is within.</p>
      

                {{ govukInput ({
                    id: 'address-lookup-name-number',
                    name: 'address-lookup-name-number',
                    classes: 'govuk-input--width-20',
                    label: {
                        text: 'Building name or number (optional)'
                    }
                }) }}

                {{ govukInput ({
                    id: 'addressLookupPostcode',
                    name: 'addressLookupPostcode',
                    classes: 'govuk-input--width-10',
                    label: {
                        text: 'Postcode'
                    },
                    errorMessage: {
                        text: errorMessage
                    } if data.lookupError
                }) }}

                <input type="hidden" name="next-page" value="/{{folder}}/address/address-confirm">
                <input type="hidden" name="error-page" value="/{{folder}}/address/postcode">

 
          </div>

    



        </fieldset>

        <div class="form-group">
          {{submitButton|safe}}
        </div>

        <p>
            <a href="../location/search">Find a location without a postcode</a>
        </p>


      </form>

    </div>
  </div>

</main>

{% endblock %}
