
{% extends "layout.html" %}

{% block pageTitle %}
  Get flood warnings
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get flood warnings
      </h1>

      <p><a href="/prototype-admin/clear-data">Clear permit data</a></p>
      <!-- user lab -->
      <h2 class="govuk-heading-m">Alpha design version 6-1</h2>
                  <h3 class="govuk-heading-s">External user research</h3>

      <p class="govuk-body">Week starting 11 October 2021 </p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- ########################################################################### -->
      
          <h2 class="govuk-heading-m">
            Research
          </h2>
      

          
          <p> <a href="/v7/subscribe-journey/start">Alpha design version 7</a></p>
  
           </div>
              </div>

            {% endblock %}
