{% extends 'layout.html' %}

{% block pageTitle %}
  Map test page
{% endblock %}

{% block beforeContent %}

  {{ super() }}

  {{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

{% endblock %}

{% block content %}
{{'/subscribe-journey/start'|redirect|safe}}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-xl">Location sandbox</h1>

        {{ govukButton ({
          text: 'Start subscribe journey',
          href: '/subscribe-journey/postcode',
          classes: 'govuk-button--start'
        }) }}

        <br>

        {{ govukButton ({
          text: 'Start demo',
          href: '/place',
          classes: 'govuk-button--start'
        }) }}

      </form>

    </div>

</div>

{% endblock %}