
{% extends "layout.html" %}

{% block pageTitle %}
  Get flood warnings prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
Get flood warnings prototypes      </h1>
      <p class="govuk-body-l">This is not an end to end journey service prototype.</p>
      <p class="govuk-body">This is a collection of prototypes used for testing ideas for Alpha on the service 'Get flood warnings'.</p>
      <p>The prototypes cover Alpha ideas across the external user journey (signing up to flood warnings).</p><!--the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table further down the page--></p>
    
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design resources: user needs map, user flows, wireframes
          </span>
        </summary>
        <div class="govuk-details__text">
          <strong>Stored on Google Drive</strong></br>
          <a href="https://docs.google.com/drawings/d/1NMZ22-a037fSV9n36FimJxFP-nQwUazT25eN9MhGG70/edit">High level user needs map</a></br>
            <a href="https://drive.google.com/drive/folders/1u9xGqewXsguOsEGmW3iGqzxuUSkQQWt9?usp=sharing">User flows</a></br>
            <a href="https://drive.google.com/drive/folders/1TqrdkTeYJNOr2v8aJ6XwXc_TK1ymtVVD?usp=sharing">Content wireframes</a>        </div>
      </details>


    </div>  </div>
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full-width">

      <h3 class="govuk-heading-m">Alpha design tests</h3>
      <p class="govuk-body">
        <a href="/prototype-admin/clear-data">Clear stored data</a> 
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">What's changed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/index-v7">VERSION 6-1</a></th>
            <td class="govuk-table__cell"><strong class="govuk-tag" style="background: purple;">
              READY FOR UR
            </strong></br>October 2021</td>
            <td class="govuk-table__cell">             
              Sign in A/B testing (magic link expires):</p>            
              <ul class="govuk-list govuk-list--bullet">
                <li>Start page - UPDATED</li>
                <li>Add locations - UPDATED</li>
                <li>Choose warnings/alerts - UPDATED</li>
              <li>Sign in - UPDATED</li>
              <li>Manage locations - UPDATED</li>
            </ul></td></td>
          </tr>


          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/index-v6">VERSION 6-0</a></th>
            <td class="govuk-table__cell"><strong class="govuk-tag" style="background: purple;">
              READY FOR UR
            </strong></br>October 2021</td>
            <td class="govuk-table__cell"> 
              Sign in A/B testing (magic link doesn't expire):</p>            
              <ul class="govuk-list govuk-list--bullet">
              <li>Start page - UPDATED</li>
              <li>Add locations - UPDATED</li>
              <li>Choose warnings/alerts - UPDATED</li>
              <li>Sign in - UPDATED</li>
              <li>Manage locations - UPDATED</li>
            </ul></td></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/index-v5">VERSION 5-0</a></th>
            <td class="govuk-table__cell"><strong class="govuk-tag" style="background: purple;">
              READY FOR UR
            </strong></br>August 2021</td>
            <td class="govuk-table__cell">             
              <ul class="govuk-list govuk-list--bullet">
              <li>Sign in - UPDATED</li>
              <li>Manage locations - UPDATED</li>
            </ul></td></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/index-v5">VERSION 5-0</a></th>
            <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">
              TESTED
            </strong></br>June 2021</td>
            <td class="govuk-table__cell">             
              <ul class="govuk-list govuk-list--bullet">
              <li>Start page - UPDATED</li>
              <li>Add locations - UPDATED</li>
              <li>Choose warnings/alerts - UPDATED</li>
              <li>Sign up - UPDATED</li>

            </ul>
          
            <strong><a href="https://drive.google.com/drive/u/1/folders/1jzlL6lsUm53mZdpV1ieFKzbj8KSwmcPm">View findings from user testing listed areas of version 5-0</a> </strong>
          </td></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/index-v4">VERSION 4-0</a></th>
            <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">
              TESTED
            </strong></br>June 2021</td>
            <td class="govuk-table__cell">             
              <ul class="govuk-list govuk-list--bullet">
              <li>Start page - UPDATED</li>
              <li>Add locations - UPDATED</li>
              <li>Choose warnings/alerts - UPDATED</li>
              <li>Sign up - UPDATED</li>

            </ul>
          
            <strong><a href="https://drive.google.com/drive/u/1/folders/1kZZiPKOLkomMgeh3SjZaQLsjeecirRQD">View findings from user testing version 4-0</a> </strong>
          
          </td></td>
          </tr>
  
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/index-v3">VERSION 3-0</a></th>
            <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">
              TESTED
            </strong></br>April 2021</td>
            <td class="govuk-table__cell">             
              <ul class="govuk-list govuk-list--bullet">
              <li>Start page - ADDED</li>
              <li>Add locations - UPDATED</li>
              <li>Choose warnings/alerts - UPDATED</li>
              <li>Sign up - ADDED</li>
              <li>Sign in - ADDED</li>
              <li>Manage locations - UPDATED</li>
            </ul>
            <strong><a href="https://drive.google.com/drive/u/1/folders/1E97YVZVQ9PD7Q0_kLvIQQENUk4Amz1g7">View findings from user testing version 3-0</a> </strong>
            
          </td></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/index-v2">VERSION 2-0</a></th>
            <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">
              TESTED
            </strong></br>March 2021</td>
            <td class="govuk-table__cell"><p class="govuk-body">Alpha design tests:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Start page - REMOVED</li>
                <li>Sign up journey - REMOVED</li>
                <li>Add locations - UPDATED</li>
                <li>Choose warnings/alerts - UPDATED</li>
                <li>Sign in - REMOVED</li>
                <li>Manage locations - REMOVED</li>
              </ul>             
           <strong><a href="https://drive.google.com/drive/u/1/folders/11C6ZmPLyRoHdJtbBtm2cuPx8nvymbRVu">View findings from user testing version 2-0</a> </strong>
            </td>
          </tr>


          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/index-v1">VERSION 1-0</a>
          </th>
            <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">
              TESTED
            </strong></br>November 2020</td>
            <td class="govuk-table__cell"><p class="govuk-body">Pre Alpha proof of concept journey:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Start page - ADDED</li>
                <li>Sign up journey - ADDED</li>
                <li>Add locations - ADDED</li>
                <li>Choose warnings/alerts - ADDED</li>
                <li>Sign in - ADDED</li>
                <li>Manage locations - ADDED</li>
              </ul>
              <strong><a href="https://drive.google.com/drive/u/1/folders/1lBopoZpf7KCUY35I2OwxHzjNqMp7rNdX">View findings from user testing version 1-0</a> </strong>
            
            </td>
          </tr>



   

        </tbody>
      </table>

        <!--#### <li><a href="/change-log">Prototype change log</a></li> ####-->

      
    </div>
  </div>

{% endblock %}
