
{% extends "layout.html" %}

{% block pageTitle %}
  Get flood warnings
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get flood warnings
      </h1>

      <p><a href="/prototype-admin/clear-data">Clear permit data</a></p>
      <!-- user lab -->
      <h2 class="govuk-heading-m">Alpha design version 4</h2>
                  <h3 class="govuk-heading-s">External user research</h3>

      <p class="govuk-body">Week starting 14 June 2021 <!--the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table further down the page--></p>

      <p class="govuk-body">This is an iteration on <a href="/index-v3">Alpha design version 3</a>. The design will be updated in line with some of our external user feedback and stakeholder comments.</p>
      <p>The prototype is also now at mid-fidelity to greater improve the interaction for the user.</br>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- ########################################################################### -->
      
          <h2 class="govuk-heading-m">
            Research
          </h2>
      

          
          <p> <a href="/v4/subscribe-journey/start">Alpha design version 4</a></p>
  
           </div>
              </div>

            {% endblock %}
