
{% extends "layout.html" %}

{% block pageTitle %}
  Get flood warnings
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get flood warnings
      </h1>

      <p><a href="/prototype-admin/clear-data">Clear permit data</a></p>
      <!-- user lab -->
      <h2 class="govuk-heading-m">Alpha design version 1</h2>
            <h3 class="govuk-heading-s">External user research</h3>

      <p class="govuk-body">November 2020 <!--the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table further down the page--></p>

      <p class="govuk-body">The team started alpha by testing an end to end user journey for external users signing up to the service. The prototype was designed and built pre-alpha by the development team.</br>

    <p>The new team agreed this was only to be used as a starting point for research incites, to feed into design that was to be undertaken in Alpha.</p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- ########################################################################### -->
      
          <h2 class="govuk-heading-m">
            Research
          </h2>
      

          
            <p><a href="https://docs.google.com/document/d/1cLszZzrC7CnnXddvhssVpyy5-D9i4o0NEpe1fql0GLg/edit?usp=sharing" target="_blank">Screen grabs of the end to end user journey tested with users</a> </br>We no longer have access to the interactive version.</p>
          
           </div>
              </div>

            {% endblock %}
