{% extends "layout_unbranded.html" %}

{% set imgpath="/public/images/" %}

{% block page_title %}
  Gmail | Get flood warnings confirmation

{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}


<div id="email">

<div id="gmail_header">
  <img src="{{ imgpath }}gmail_header.png" alt="" />
</div>

<div class="govuk-grid-row">

    <div style="width:15%" class="govuk-grid-column-one-quarter">
        <img style="margin-bottom:600px" src="{{ imgpath }}gmail_menu_left.png" alt="" />
    </div>


    <div class="govuk-grid-column-two-thirds">

      <p class="subject">
        Get flood warnings confirmation  <img class="inboxicon" src="{{ imgpath }}gmail_icon_inbox.png" alt="" />
      </p>
    </div>
      <div class="govuk-grid-column-one-quarter">
        <div id="email_text">
        <img src="{{ imgpath }}gmail_from_text.png" alt="" /> 

      </div>
    </div>

    
    <div class="govuk-grid-column-two-thirds">

      <div id="email_text">

        <div id="banner" class="email-banner"><img src="{{ imgpath }}gov_uk_email_header.png" alt="GOV.UK" /></div>

      </div></div>


        <div class="govuk-grid-column-one-half">
          <div id="email_text">

      </br>
      <h3 class="govuk-heading-m">Get flood warnings confirmation</h3>
      <p>You now get flooding warnings from the Environment Agency for your selected locations.</br></br>
        Use this email address to <a href="/{{folder}}/subscribe/check?status=signedIn">update your details online</a>. If you cannot update your details online, call floodline on 0345 988 1188.      </p>

   
        
      <h2 class="govuk-heading-m">What happens next</h2>
      <p>When a flood is expected, warnings will be sent to:
        <ul class="govuk-list govuk-list--bullet">

          {% if data.emailConsent=="Yes" %}
           <li>Email: {{ data['email-address'] }}</li>

           {% endif %}

                     {% if data.textConsent=="Yes" %}
                    <li>Text: {{ data['text-number'] }}</li>
                     {% endif %}

                     {% if data.phoneConsent=="Yes" %}
                   <li>Voice call: {{ data['phone-number'] }}                    
                     {% if data.phoneUseTextNumber=="Yes" %}
                     {{ data['text-number'] }}</li>
                   
                     {% endif %}
                     {% endif %}
         </ul>

         <p>If you want to know if there’s surface water flooding (also known as ‘flash flooding’) in your area, <a href="https://www.gov.uk/find-local-council">contact your local council</a>.</p>

   <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this sign up service?</a> (takes 30 seconds)</p>
        <p><a href="https://check-for-flooding.service.gov.uk/start-page">Check for flooding</a></p>
        <p><a href="https://flood-warning-information.service.gov.uk/plan-ahead-for-flooding">Plan ahead for flooding</a></p>

        <p>Floodline</br>
             Telephone: 0345 988 1188</br>
             Textphone: 0345 602 6340</br>
             24-hour service</br>
             <a href="#">Find out about call charges</a></p>             
      </div><!-- // end #email_text -->

    </div><!-- // end .column 3/4 -->

  </div><!-- // end .grid_row -->

</div><!-- // end #email -->

{% endblock %}
