{% extends "layout_unbranded.html" %}

{% set imgpath="/public/images/" %}

{% block page_title %}
  Text message | Validation code: Get flood warnings
 
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block main %}





        <div class="govuk-grid-column-two-thirds">
          <div id="email_text">

      </br>
<p>     You are signing up to Get flooding warnings from the Environment Agency for your selected locations. 
</p>
        <p>Your confirmation code is: 1635</p>
        
        <p>It expires in 10 minutes.</p>
        
        <p>Enter this code online to continue.</p>
        
        <p>If you did not ask for a code to Get flood warnings, please ignore this message.
        </p>

      </div><!-- // end #email_text -->

    </div><!-- // end .column 3/4 -->

  </div><!-- // end .grid_row -->

</div><!-- // end #email -->

{% endblock %}
